[user]
	email = ismaelayman159@gmail.com
	name = Ayman Ismael1

[init]
    # The default branch is master
    defaultBranch = master

[core]
    # Set default editor to neovim
    editor = nvim
    ignorecase = false

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[color]
    # Enable color support
    ui = true

[pull]
    rebase = true

[credential]
	helper = store
