[user]
	email = ismaelayman159@gmail.com
	name = dreigon2474

[init]
    # The default branch is master
    defaultBranch = master

[core]
    # Set default editor is neovim
    editor = nvim
    ignorecase = false

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[pull]
    rebase = true

[credential]
	helper = store
